<H2> PYTHON <H2>

Python is just like another language's like Hindi, English, Tmail, etc.
Python is a Programming language to communicate with computer's. Python is way to instruct the computer to perform a task

## Some Feature of Python
1. Easy to understand
2. Free and opensource
3. High-level language
4. Portable work on Window/mac/linux

In [1]:
# print something
print("Write Here: for Print")

Write Here: for Print

### Variable
-----------
A Variable is a name given to memory location in a program
                            OR
Data or value can be stored in temporary storage space is know as variable

#### Rules for defining a variable name
1. It conatain alphabets, digit & underscore.
2. Variable name start from alphabets & underscore.
3. No space is allowed to used inside the variable_name.
4. Variable's are case sensitive.

##### Keywords: 
                Reserved words in Python
##### Identifiers:
                    Class/ Funcation/ Variable name

### Data-type
----------
1. Text:    str
2. Numeric:     int, float, complex
3. Sequence:    list, tuple, range
4. Mapping:     dict
5. Set:      set, frozenset
6. Bollean:     bool

In [2]:
# "#" is single line comment
"""
    This is multi-line 
    comment
"""
x = "Bucholi"      # x variable contain a text value that data type is 'str'
type(x)

str

In [3]:
y1 = 4.2 
y2 = '4.2'
# Note: y1 is not equal to y2
""" 
    y1 is 'float data type'
    y2 is 'str' data type   """
print(type(y1))
print(type(y2))

<class 'float'>
<class 'str'>

#### Casting:
------
               The process to convert the value of data-type to another data-type.

In [4]:
# In above 'y2' is 'str' data-type we can convert into 'float' type. but not into integer 
y2 = float(y2)
type(y2)

float

If you have a collection of values in a list, tuples etc. python allows you to extract the values 
into variable that's called unpacking

In [6]:
fruit = ["apple", "banana", "cherry"]
print(type(fruit))
x,y,z = fruit
print(x)
print(y)
print(z)

<class 'list'>
apple
banana
cherry

In [9]:
# add some string's
x = "Mohit"
y = "Bucholi"
z = x + " " + y
z
# we add string's only when both variables are string

'Mohit Bucholi'

### Input Function
------------------------------
                    The function allow's the user to take input from the keyboard as a string "input()"

In [10]:
a = input("write here: something regarding input")
type(a)

str

<h1> String:

##### A string is a sequence of character enclosed in quotes
1. a = 'MOHIT'
2. b = "Bucholi"
3. c = """ CSE"""

In [13]:
x = "Mohit"
print(len(x))         # 'len()' function return the length

# [start_index : end_index(not include)] is use to access a part of string
""" index: suppose--->
 string 'MOHIT"
 INDEX    STR    -ive index
  0        M        -5
  2        O        -4
  3        H        -3
  4        I        -2
  5        T        -1
                """
x[0:3]

5

'Moh'

In [15]:
x = "This is a python file written by Mohit Bucholi CSE"
# Check 'Mohit' is present in 'x' or not
print('Mohit'in x )  # this is present
print("that" in x)   # this is not present

True
False

In [20]:
# string slicing
x = "This is a python file written by Mohit Bucholi CSE"
print(x[10:17])     # slicing with +ive index

print(x[-11:-4])     #slicing with -ive index

print(x[17:])     #slicing with index(17) to the end of string

print(x[:30])    #slicing from the start of string to the given_index

python
Bucholi
file written by Mohit Bucholi CSE
This is a python file written

In [23]:
# some other main funcation to perform operation on a string
x = "This is a python file written by Mohit Bucholi CSE"
len(x)
x.endswith("CSE")   # it give you boolean value
x.startswith("his")  # it give you boolean value
x.count("is")       #it give you interger value
x.find("by")        #it give you index
x.replace("old_word","new_word")

30

<h1> List:

##### List are used to store multiple values items in a single variable
It allow's duplicates, indexed and contain different data-type

In [29]:
l = ["shiva", 4.2,"ravi", 26, True]
print(type(l))
len(l)

<class 'list'>

5

In [32]:
# list is indexed just like string
#  l['index']   l: l is list
print(l[2])
print(l[1:3])

ravi
[4.2, 'ravi']

In [36]:
# update list using []
l = ["shiva", 4.2,"ravi", 26, True]
l[0] = "vishnu"    # change the value of index '0' into 'vishnu'
l

['vishnu', 4.2, 'ravi', 26, True]

In [38]:
# some other main funcation to perform operation on a List
l = [5,9,2,7,45,0,3, 4.2, 10, 26, 6]
l.sort()
l

[0, 2, 3, 4.2, 5, 6, 7, 9, 10, 26, 45]

In [40]:
l.reverse()
l

[0, 2, 3, 4.2, 5, 6, 7, 9, 10, 26, 45]

In [41]:
# add a new element into list at the end of list
l.append("ravi")
l

[0, 2, 3, 4.2, 5, 6, 7, 9, 10, 26, 45, 'ravi']

In [42]:
# add a new element into list at the specific index of list
#l.insert(index,"value")
l.insert(2,"mohit")
l

[0, 2, 'mohit', 3, 4.2, 5, 6, 7, 9, 10, 26, 45, 'ravi']

In [43]:
# l.pop() remove the last item from the list, if we pass index it remove item from the index
l.pop()
l

[0, 2, 'mohit', 3, 4.2, 5, 6, 7, 9, 10, 26, 45]

In [44]:
# l.remove(item) remove particular item
l.remove("mohit")
l

[0, 2, 3, 4.2, 5, 6, 7, 9, 10, 26, 45]

In [45]:
# l.index("item")  return the index of item
# l.count("item")
# l.clear()         it make the list empty
del l   # delete the list

<h1> Tuple:

Tuples are used to store-multiple items in one variable
A tuple is ordered and un-changeable and written in ()
1. a = (1)   This is not tuple
2. a = (1,)   This is tuple

In [48]:
t = (4,5,0.1,"ravi", True)
print(type(t))
len(t)

<class 'tuple'>

5

In [49]:
# we can only access the tuple we can't update a tuple
print(t[0:4])
# t3 = t1 + t2   join two tuples
t.count(5)  # t.count(item)
# t.index(item)

(4, 5, 0.1, 'ravi')

1

We update the tuple only when 1st convert the 'tuple' into 'list' and perform operations like remove, append, del,etc. Then again convert into tuple

In [50]:
t = (4,5,0.1,"ravi", True)
t = list(t)   # convert into list
t.remove(0.1)
t = tuple(t)
t

(4, 5, 'ravi', True)

<h1> Dictionary:

##### Dictionary is a collection of key-value pairs. unorderd, changeable, does't allow duplicate, written with curly brackets

In [52]:
# d = {"key":"value"}
d = {"name": "vishnu", 'adress':"vakuant","wepon":'chakra'}
type(d)

dict

In [55]:
# we use key instead of index
print(d["name"])
# update the dict & add new key and value
d["wepon"] ="bow_arrow"
d

vishnu

{'name': 'vishnu', 'adress': 'vakuant', 'wepon': 'bow_arrow'}

In [56]:
d.keys()    # it give the list of key
d.values()  # it give the list of values
d.items()   # it give the list of items

dict_items([('name', 'vishnu'), ('adress', 'vakuant'), ('wepon', 'bow_arrow')])

In [58]:
""" 
d.get()      # to access the value using key
d.update()    # update the value
d.pop()        # is used to remove the  specific key
d.popitem()      # remove the last inserted item
d.clear()     # make empty the d
del d      # delete the d
"""

' \nd.get()      # to access the value using key\nd.update()    # update the value\nd.pop()        # is used to remove the  specific key\nd.popitem()      # remove the last inserted item\nd.clear()     # make empty the d\ndel d      # delete the d\n'

<h1> Set:

Set are used to store multiple items in one variable. unorderd, unindexed, written in { }, unchangeable & doen't include duplicate

In [62]:
t = {4,6,9,21,3,0,7}
print(type(t))
len(t)

<class 'set'>

7

In [66]:
# once a set is created, you can't change its items, but you can add new items
t.add(32)
t

{0, 3, 4, 6, 7, 9, 21, 32}

In [67]:
""" 
    t.remove(item)     remove the item from set
    t.pop()             it reomove any item from the set
    t.clear()           make the set is empty
    del t                delete the set
    """

{3, 4, 6, 7, 9, 21, 32}

<h1> If( ), Elif( ), Else( )

##### we use 'if()' statement to run the code under the given statement. if the given condition is True otherwise check elif() 
##### Both if(), elif() condition are not satified then else() statement run

In [88]:
x = 11
if x<= 10:
    print("x is less than equal to 10")
elif x<=15:                                      # elif statement only and only after if 
    print("x is greter than 10 & less than 15")
else:
    print("x is greater than 15")

x is greter than 10 & less than 15

<h1> Loop in Python

Some time we want to repeat a set of program. Loops make it easy for a programmer to tell the computer, which set of instruction to repeat and how

In [90]:
x = 1
while x<=10:  # while (condition):
    print(x)
    x = x+1             # update the value of x otherwise acc to given condition loop never end because the condition doesn't change

1
2
3
4
5
6
7
8
9
10

In [92]:
# range() is a generator in python
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Break & continue in loops

In [93]:
x = 1
while x<=10:
    if x == 4:          # if x = 4, then loop break it will stop 
        break
    print(x)
    x = x+1

1
2
3

In [94]:
for i in range(6):
    if i == 4:             # if x = 4 it will start from begning
        continue
    print(i)

0
1
2
3
5

<h1>Function in python

##### A function is a block of code which only runs when it is call. it can be use number of times in a program.
 'def' keyword is use to creat a function. 'def fun_name(arguments):'

In [98]:
def mult_num(x,y):
    return (x*y)

# call a function
mult_num(5,6) # we have to give only two arguments not more and not less

30

In [99]:
def add_num(*arg):  # we use * before the argument then we give multiple values in argument when calling the funcation
    return sum(arg)

add_num(4,5,9,3)

21

#### Recursion 
Recursion is a function which call itself. and it is use direcly use a mathematical formula as a function.

In [97]:
def rec(n):
    if n>0:
        result = n +rec(n-1)
    else:
        result = 0
    return result
#call a function
rec(5)

15

<h1> Lambda Function

A lambda function is a small anoymous function. Anoymous function is a function that define without a name while normal function are defined using the def keyword in python. A lambda function have any number of arguments, but only one expresion

In [100]:
x = lambda a,b,c:a+b+c
x(4,5,1)

10

<h1> OOPs in Python

1. class class_name:
2. obj = class_name()
##### class: is just like a template of a form and
##### object: suppose some one fill the template(form). now this is an object

In [103]:
class Employee:
    company = "google"
    def getsalary(self):
        print("3k")

obj = Employee()
print(obj.company)
obj.getsalary()
# here, self is Employee.getsalary(obj)

google
3k

##### __init__() constructor:
it take a self agrument and further agrument

In [104]:
class Employee:
    company = "google"
    def __init__(self,name,age,gender,salary):
        self.name = name
        self.age =  age
        self.gender = gender
        self.salary = salary
    def getsalary(self):
        print(f"the salary of {self.name} is {self.salary}")

obj = Employee("ravi",25,"M",3600)
print(obj.company)
obj.getsalary()

google
the salary of ravi is 3600

<h1> Inheritance in Python

Inheritance is way of creating a new class from an existing class, we use methods and attribute of parent class. also overwrite or add new attribute and methods in a class

In [106]:
class Vehicle:
    wheeler = "two_wheeler"
    def __init__(self):
        self.fuel = "petrol"
        self.fuel_amount = 1500
        self.break_type = "hydrolic"

class Bus(Vehicle):
    company = "tata"
    def __init__(self,capcity,model):
        self.capcity = capcity
        self.model = model
    
class Car(Vehicle):
    company =" maruti"
    def __init__(self,fuel,model,power):
        self.fuel = fuel
        self.model = model
        self.power = power


rodways =Bus(70,2021)
car = Car("cng",2022,700)

In [111]:
print(rodways.wheeler)
print(rodways.model)
print(car.fuel)
print(car.power)

two_wheeler
2021
cng
700